div {
	position:relative;
}

#octopus {
	display: block;
	margin: auto;
	margin-top: 100px;
	position:relative;
}

#glasses {
	display: block;
	margin: auto;
	z-index: 1;
	position:absolute;
	top: 35%;
	left: 47%;	
}

#hat {
	display:block;
	margin:auto;
}